*
dist/**/*.js
!scripts
!src
!src/*.js
!test
!test/integration
!test/integration/*.js
!test/integration/*.ts
!test/unit
!test/unit/**
!dist/
!dist/ncc/
!dist/buildin/
!package.json
!yarn.lock
!.circleci
!.*ignore
!readme.md
