*
dist/**/*.js
!scripts
!src
!src/*.js
!test
!test/integration
!test/integration/*.json
!test/integration/*.js
!test/integration/*.ts
!test/integration/include/
!test/integration/include/*.js
!test/integration/node-path
!test/integration/node-path/*.js
!test/unit
!test/unit/**
!dist/
!dist/ncc/
!dist/buildin/
!package.json
!yarn.lock
!.circleci
!.github
!.github/
!.github/**
!release.config.js
!.*ignore
!readme.md
!examples/
!examples/**
examples/**/node_modules
examples/**/dist
