name: CI

on:
  push:
    branches:
    - master
    tags:
    - '!*'
  pull_request:

jobs:
  test:
    name: Test on node ${{ matrix.node }} and ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [10]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    - name: Print Node Version
      run: node --version
    - name: Install Dependencies
      run: yarn install
    - name: Build Test Binary
      run: yarn build-test-binary
    - name: Run Tests
      run: yarn test
